<a href="/"><h1 class="site-title">Kendrea Beers</h1></a>

<ul class="contact-info-line">
	<li class="contact-info email-address"><a href="mailto:beerske@oregonstate.edu">beerske@oregonstate.edu</a></li>
	<li class="contact-info divider"><a href="/inbox">|</a></li>
	<li class="contact-info social-media"><a href="https://www.linkedin.com/in/kendrea-b-4b28a2142/">LinkedIn</a></li>
	<li class="contact-info divider"><a href="/inbox">|</a></li>
	<li class="contact-info location"><a href="https://www.google.com/maps/place/Corvallis,+OR/">Corvallis, Oregon</a></li>
</ul>

<nav class="navbar">
	<ul class="navlist">
		<li class="navitem navlink"><a href="/">Home</a></li> 
		<li class="navitem navlink"><a href="/biography">Biography</a></li>
		<li class="navitem navlink"><a href="/cv">CV</a></li>
		<li class="navitem navlink"><a href="/contact">Contact</a></li>
	</ul>
</nav>