<!DOCTYPE html>
<html>
	<head>
	
		<meta charset="utf-8">
		<title>Kendrea Beers</title>

		<link rel="stylesheet" href="style.css" media="screen">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.js"></script>
		<script src="index.js" defer></script>
	</head>

	<body>
		{{{body}}}
	</body>
</html>