{{> header}}

<main class="page">
	<div class="bio-container">
		<div class="bio-content">
			<p> 
				<b>Professional biography:</b> 
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget sapien id nibh consectetur efficitur luctus nec nibh. Aenean vehicula, sem ac porttitor commodo, augue dui molestie nisl, non hendrerit nulla purus ac odio. Integer quis vestibulum dolor, et vehicula purus. Sed a urna suscipit elit malesuada ornare ut at ante. Donec vehicula nisi volutpat, rhoncus neque et, rhoncus augue. Fusce sed efficitur urna, et pellentesque tellus. Nunc sagittis ultrices volutpat. Sed condimentum vitae est nec dignissim. Phasellus imperdiet iaculis risus, nec posuere urna tempus eget. Ut vestibulum massa a felis pellentesque elementum. Nulla facilisi. Proin consectetur velit quis neque bibendum, et mollis elit congue. Maecenas mattis urna in nulla luctus malesuada. </p>
			<p>
				<b>Personal biography:</b>
				Pellentesque vel elementum risus, vitae venenatis enim. Nulla aliquam iaculis iaculis. Etiam ut imperdiet justo. Phasellus non odio vel ante pretium tristique. Ut in tincidunt dui. Suspendisse consectetur vestibulum ante, nec blandit turpis molestie a. Duis ac tincidunt velit. Aliquam arcu justo, pellentesque vel convallis sed, ultricies ac nisl. Sed nec nisi in arcu vulputate tempus. Sed vel lacus a nisl finibus congue ac et massa.
			</p>
			<p>
				<b>Upcoming adventures:</b>
				Suspendisse potenti. Sed ac accumsan eros. Integer facilisis, nulla sed bibendum sodales, dui mi posuere tortor, eget lacinia est nibh sed magna. Ut a erat diam. Proin eget elit non massa volutpat suscipit ut nec magna. Aenean accumsan eros at vulputate molestie. Nam quis purus risus. Donec sit amet luctus purus, imperdiet consequat sapien. Donec risus purus, facilisis in volutpat nec, rhoncus pharetra diam. Aliquam blandit lacinia pellentesque. Etiam tortor libero, aliquam nec mattis vitae, suscipit id quam. Pellentesque accumsan lacinia mi ac laoreet. Proin accumsan rutrum sapien, sed aliquet lacus condimentum at. Integer pharetra eros nunc.
			</p>
		</div>
		<div class="picture">
			<img src="working.png" alt="Kendrea working at the University of Notre Dame" height="400px" border="2px black">
		</div>
	</div>
</main>
