{{> header}}

<main class="page">
	<div class="home-container">
		<div class="short-bio-content"> 
			<p class="large-text">
				Hi! I'm Kendrea, a second-year student at Oregon State University. The intersection of computer science, philosophy, and math fascinates me. I care about making computers work for us, not the other way around.
			</p>
		</div>
		<div class="picture">
			<img src="face.png" alt="Kendrea" height="400px" border="2px black">
		</div>
	</div>
</main>